.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  ul {
    text-align: center;
    list-style: inside;
    display: inline-block;
  }

.ul-div {
    text-align: center;
}

#edit_form {
    padding: 10px;
}