<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story of My Shelf</title>

    <script src="https://unpkg.com/jquery"></script>
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <script src="https://unpkg.com/bootstrap"></script>
</head>

<body>
    <nav>
        <div>
          <div>
            <a href="/">
              <img src="">
              <span>Story of My Shelf</span>
            </a>
          </div>
          <ul>
            {% if not g.user %}
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
            {% else %}
            <li>
              <a href="/users/{{ g.user.id }}">
                <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
              </a>
            </li>
            <li><a href="/logout">Log out</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div>
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% block content %}
    {% endblock %} 
</body>
</html>