{% extends 'base.html' %}
{% block content %}
  <div>

    <div>
      <div>
        <div>
          <a href="/users/{{ g.user.id }}/edit">
            <img src="{{ g.user.profile_pic_url }}"
                 alt="Image for {{ g.user.username }}">
            <p>{{ g.user.username }}</p>
          </a>
          <div>
            <form method="POST">
              {{ form.hidden_tag() }}

              {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
                {% for error in field.errors %}
                  <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control") }}
              {% endfor %}
              <button class="btn">Search</button>
            </form>
          </div>
          <ul>
            <li>
              <p>Favorites</p>
              <h4>
                <a href="/users/{{ g.user.id }}/favorites">{{ g.user.favorites | length }}</a>
              </h4>
            </li>
            <li>
              <p>To Be Read</p>
              <h4>
                <a href="/users/{{ g.user.id }}/want-to-read">{{ g.user.to_be_read | length }}</a>
              </h4>
            </li>
            <li>
              <p>Read</p>
              <h4>
                <a href="/users/{{ g.user.id }}/read">{{ g.user.read | length }}</a>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
