{% extends 'base.html' %}
{% block content %}
  <div>

    <div>
      <div>
        <div>
          <a href="/{{ g.user.id }}">
            <img src="{{ g.user.profile_pic_url }}"
                 alt="Image for {{ g.user.username }}">
            <p>@{{ g.user.username }}</p>
          </a>
          <ul>
            <li>
              <p>Favorites</p>
              <h4>
                <a href="/{{ g.user.id }}">{{ g.user.favorites | length }}</a>
              </h4>
            </li>
            <li>
              <p>To Be Read</p>
              <h4>
                <a href="/{{ g.user.id }}/to_be_read">{{ g.user.to_be_read | length }}</a>
              </h4>
            </li>
            <li>
              <p>Read</p>
              <h4>
                <a href="/{{ g.user.id }}/read">{{ g.user.read | length }}</a>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div>
      <ul>
        {% for msg in messages %}
          <li class="list-group-item">
            <a href="/messages/{{ msg.id  }}" class="message-link"/>
            <a href="/users/{{ msg.user.id }}">
              <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
            </a>
            <div class="message-area">
              <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
              <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
              <p>{{ msg.text }}</p>
            </div>
            <form method="POST" action="/users/{{ g.user.id }}/add_like/{{ msg.id }}" id="messages-form">
              <button class="
                btn 
                btn-sm 
                {{'btn-primary' if msg.id in likes else 'btn-secondary'}}"
              >
                <i class="fa fa-thumbs-up"></i> 
              </button>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div> -->

  </div>
{% endblock %}
